<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Friendly Bakery</title>

                  <meta charset="utf-8">
                  <meta name="viewport" content="width=device-width, initial-scale=1">
                  <title>Friendly Bakery</title>
                  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
                  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
                  <link rel="stylesheet" type="text/css" href="/style.css">
                  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic' rel='stylesheet'
                  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.2/css/uikit.min.css" />
                  <link rel="stylesheet" href="/app_style.css">


                  <link rel="stylesheet"
                 href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
  </head>
  <body>
    <header>
                  <nav>
                    <div class="row">
                      <ul class="main-nav js--main-nav">
                        <li><a href="/home">Home</a></li>
                        <li><a href="/cakes">Cakes</a></li>
                        <li><a href="/cookies">Cookies</a></li>
                        <li><a href="/muffin">Muffins</a></li>
                        <li><a href="/sign_up">Sign up</a></li>
                      </ul>
                      <a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon-round"></i></a>
                    </div>
                  </nav>

                <div class="hero-text-box">
                           <h1>Friendly Bakery</h1>
                             <a class="btn btn-ghost js--scroll-to-start" href="#item_header">Show me more</a>
                </div>
    </header>
                  <%= yield %>
    <div class="container">

            <div class="panel panel-default">
                  <center>
                          <div class="footer_p">@Frindly Bakery : 90 John Street</div>
                  </center>
                  <div class="panel-body">
                      <center>
                            <a href="https://www.facebook.com/badruduja.bhuiya" ><img src="./img/facebook.png" alt="facebook_logo"  height="30" width="50" ></a>
                            <a href="https://link.springer.com/chapter/10.1007/978-3-319-56991-8_42" ><img src="./img/Twitter.jpg" alt="Twitter_logo"  height="30" width="50" ></a>
                            <br>
                            <br>
                       </center>
                   </div>
                  <div class="panel-footer"> </div>
            </div>
        </div>
     </div>



            <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.2/js/uikit.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.2/js/uikit-icons.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
      </body>
    </html>
